.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px
}
.card{
    border: 5px solid black;
    padding: 30px;
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgba(81, 40, 120, 0.524);
}
.cardSelected{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
button{
   height: 40px;
   margin-top: 10px;
   background-color: rgb(119, 64, 171);
border: solid blueviolet;
border-radius: 5px;
}
h3{
    margin-left: 20px;
    
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
    gap: 40px;
    padding-left: 20px;
}
body{
    background-color: rgba(77, 46, 106, 0.61);
}
